<div class="add-item-component">
  <form ng-submit="vm.addItem($event)">
    <input type="text" placeholder="Add an Item" ng-model="vm.newItemTitle"/>
    <textarea
      class="add-item-component--description"
      ng-model="vm.newItemDescription">
    </textarea>
    <button class="add-item-component--submit">Add Item</button>
  </form>
</div>
