/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import 'styles/base';
@import 'styles/colours';
@import 'styles/variables';

@import 'styles/mixins/mq';

@import 'styles/common/form';
@import 'styles/common/buttons';

@import 'styles/components/app-header';
@import 'styles/components/checklist';

body {
  background: $bodyBgColour;
  color: $bodyColour;
  text-align: center;
}
